* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  background: #000;
  color: #f8fafc;
  line-height: 1.6;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.btn {
  display: inline-block;
  background: linear-gradient(90deg, #06b6d4, #0ea5e9); /* degrade azul */
  color: #fff;
  font-weight: bold;
  padding: 12px 28px;
  border-radius: 10px;
  text-decoration: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background: linear-gradient(90deg, #0ea5e9, #06b6d4);
  transform: translateY(-3px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.4);
}

.btn_comprar {
  display: inline-block;
  background: linear-gradient(90deg, #000); /* degrade azul */
  color: #fff;
  font-weight: bold;
  padding: 12px 28px;
  border-radius: 10px;
  text-decoration: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
}

.btn-large {
  font-size: 1.1rem;
}


/* Responsive */
@media (max-width: 768px) {
  .hero-content {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .hero-text {
    text-align: center;
  }

  .hero h1 {
    font-size: 2.5rem;
  }

  .method-content {
    grid-template-columns: 1fr;
  }

  .problem-grid {
    grid-template-columns: 1fr;
  }

  .results-grid {
    grid-template-columns: 1fr;
  }

  .new-price {
    font-size: 3rem;
  }
}
